 {{> header}}

<div class="container">
            <div class="row bg-light text-dark">
            <h1>Movie title: {{ film.title }}</h1>
                
                <div class="col-md-8">
                    <img class="img-thumbnail" src="{{ film.imageUrl }}" alt="Movie">
                </div>
                <div class="col-md-4 text-center">
                    <h3 class="my-3 ">Movie Description</h3>
                    <p>{{ film.description }}</p>
                    {{#if film.imTheCreator}}
                        <a class="btn btn-danger" href="#/delete/{{ film.id }}">Delete</a>
                        <a class="btn btn-warning" href="#/edit/{{ film.id }}">Edit</a>
                    {{else}}
                        {{#if film.likedList}}
                        <span class="enrolled-span">Liked {{film.numberOfLikes}}</span>
                        {{else}}
                        <a class="btn btn-primary" href="#/like/{{ film.id }}">Like</a>
                        {{/if}}
                        
                    {{/if}}
                </div>
            </div>
        </div>

 {{> footer}}
